:root {
  --color-primary: #6c22a6;
  --color-primary-light: #6962ad;

  --color-secondary: #83c0c1;
  --color-secondary-light: #96e9c6;

  --color-gray: #262626; //neutral-800
  --color-gray-light: #404040; //neutral-700
  --color-gray-dark: #171717;
  --color-white: #fafafa; //neutral-50
  --color-offwhite: #d4d4d4; //neutural-300
  --color-black: #0a0a0a; //neutral-950

  --navbar-bg: var(--color-white);
  --text-color: var(--color-gray);
  --text-color-muted: #737373; //neutral-500
  --search-bg: var(--color-white);
  --card-bg: var(--color-white);
  --footer-bg: var(--color-gray);
}

[data-theme="dark"] {
  --navbar-bg: var(--color-gray);
  --text-color-muted: #a3a3a3; //neutral-400
  --text-color: var(--color-white);
  --search-bg: var(--color-gray);
  --card-bg: var(--color-gray-light);
  --footer-bg: var(--color-gray-dark);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Spectral", serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--text-color);
  line-height: 1.7;
}
