:root {
  --color-primary: #6c22a6;
  --color-primary-light: #6962ad;

  --color-secondary: #83c0c1;
  --color-secondary-light: #96e9c6;

  --color-gray: #262626; //neutral-800
  --color-white: #fafafa; //neutral-50
  --color-offwhite: #d4d4d4 //newtural-300
  --color-black: #0a0a0a; //neutral-950
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Spectral", serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-gray);
  line-height: 1.7;
  background-image: linear-gradient(120deg, rgba(250,250,250,1) 0%, rgba(212,212,212,1) 35%, rgba(250,250,250,1) 100%);
}