.app {
  display: flex;
  flex-direction: column;
  height: 100vh;

  &__main {
    background-attachment: fixed;
    background-size: cover;
    height: 1000%;
  }

  &__footer {
    margin-top: auto;
  }
}
