.contact-container {
  margin: 6rem auto 0 auto;
  padding: 2rem 4rem;
  background-color: var(--card-bg);
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  &__heading {
    text-align: center;
  }

  &__row {
    padding: 1rem;
    margin: 1rem;
    &__text {
      display: inline;

      &__link {
        font-size: 1.6rem;
        color: var(--color-primary-light);
        &:not(last-child) {
          margin-right: 2rem;
        }
        border-bottom: 2px solid var(--color-primary-light);
        padding: 0 0.5rem;
      }
    }
  }
}
