.credits-container {
  margin: 6rem auto 0 auto;
  padding: 2rem 4rem;
  background-color: var(--card-bg);
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  &__heading {
    text-align: center;
  }

  &__row-center {
    text-align: center;
  }
}

.credits-inner-container {
  display: flex;
  justify-content: space-around;

  &__row {
    padding: 0.5rem;
    margin: 1rem;
  }
}
