:root {
  --color-primary: #6c22a6;
  --color-primary-light: #6962ad;
  --color-secondary: #83c0c1;
  --color-secondary-light: #96e9c6;
  --color-gray: #262626;
  --color-gray-light: #404040;
  --color-white: #fafafa;
  --color-offwhite: #d4d4d4;
  --color-black: #0a0a0a;
  --body-gradient-1: rgba(250, 250, 250, 1);
  --body-gradient-2: rgba(212, 212, 212, 1);
  --body-gradient-3: rgba(250, 250, 250, 1);
  --navbar-bg: var(--color-white);
  --text-color: var(--color-gray);
  --text-color-muted: #737373;
  --search-bg: var(--color-white);
  --card-bg: var(--color-white); }

[data-theme="dark"] {
  --body-gradient-1: rgba(48, 48, 48, 1);
  --body-gradient-2: rgba(30, 30, 30, 1);
  --body-gradient-3: rgba(28, 28, 28, 1);
  --navbar-bg: var(--color-gray);
  --text-color-muted: #a3a3a3;
  --text-color: var(--color-white);
  --search-bg: var(--color-gray);
  --card-bg: var(--color-gray-light); }

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  scroll-behavior: smooth; }

body {
  font-family: "Spectral", serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--text-color);
  line-height: 1.7;
  background-image: linear-gradient(120deg, var(--body-gradient-1) 0%, var(--body-gradient-2) 35%, var(--body-gradient-3) 100%); }

.custom-home {
  margin-top: 6.5rem;
  display: flex;
  flex-direction: column; }
  .custom-home__categories-container__heading {
    margin: 1rem 0; }
  .custom-home__categories-container__categories-tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .custom-home__categories-container__categories-tabs__link {
      text-decoration: none; }
    .custom-home__categories-container__categories-tabs__tab {
      padding: 1rem 1.5rem;
      text-align: center;
      width: 12rem;
      background-color: var(--color-primary);
      margin: 1rem;
      color: var(--color-white);
      font-weight: bold;
      border-radius: 0.4rem;
      border: 1px solid var(--color-primary);
      transition: 0.4s; }
      .custom-home__categories-container__categories-tabs__tab:hover {
        background-color: var(--color-white);
        color: var(--color-gray);
        cursor: pointer; }
  .custom-home__news-cards-container {
    max-width: 77%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column; }
    .custom-home__news-cards-container__heading {
      margin: 2rem 0; }
    .custom-home__news-cards-container__card-container {
      display: flex;
      overflow: auto; }
      .custom-home__news-cards-container__card-container::-webkit-scrollbar {
        display: none; }
      .custom-home__news-cards-container__card-container__card {
        min-width: 19.5rem;
        margin: 0.5rem 0; }

.section__news-list {
  margin-top: 6.5rem;
  display: flex;
  flex-direction: column; }
  .section__news-list__heading {
    margin: 1rem auto 2rem auto; }
  .section__news-list__content {
    display: flex;
    flex-direction: column; }
    .section__news-list__content__card {
      margin: 1.5rem auto 1.5rem auto;
      width: 70%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      background-color: var(--card-bg);
      color: var(--text-color); }
      .section__news-list__content__card-img {
        height: 12rem;
        object-fit: cover; }
      .section__news-list__content__card-body {
        box-shadow: -1px -4px 23px -6px #0a0a0a; }
        .section__news-list__content__card-body__date {
          color: var(--text-color-muted); }
        .section__news-list__content__card-body__title {
          font-size: 20px;
          font-weight: bold; }
        .section__news-list__content__card-body__btn {
          background-color: var(--color-primary);
          color: var(--color-white);
          margin: 0 auto 1rem auto;
          width: 20%;
          transition: all 0.3s; }
          .section__news-list__content__card-body__btn:hover {
            background-color: var(--color-white);
            border: 1px solid var(--color-primary);
            color: var(--color-gray); }

.section-profile {
  margin: 7.5rem auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .section-profile__heading {
    margin-bottom: 1.5rem; }
  .section-profile__content {
    width: 100%;
    display: flex;
    flex-wrap: wrap; }
  .section-profile__user-details {
    position: relative;
    background-color: var(--card-bg);
    border-radius: 0.5rem;
    width: 50%;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-right: 5rem; }
    .section-profile__user-details__color-strip {
      background-color: var(--color-primary);
      height: 5rem; }
    .section-profile__user-details__img-box {
      width: 10rem;
      -webkit-clip-path: circle(33% at 50% 50%);
      clip-path: circle(40% at 50% 50%);
      position: relative;
      top: -4rem;
      margin: 0 auto; }
      .section-profile__user-details__img-box__img {
        height: 100%; }
    .section-profile__user-details__txt-box {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-left: 1rem;
      position: relative;
      top: -3rem;
      left: 15%; }
  .section-profile__user-preferences {
    background-color: var(--card-bg);
    border-radius: 0.5rem; }
    .section-profile__user-preferences__heading-container {
      height: 5rem;
      box-shadow: 0px 5px 15px -10px var(--color-primary);
      display: flex;
      flex-direction: row; }
      .section-profile__user-preferences__heading-container__heading {
        margin: 0.5rem; }
      .section-profile__user-preferences__heading-container__edit-btn {
        width: auto;
        border: none;
        background-color: var(--color-secondary-light);
        border-radius: 0.2rem;
        margin-left: 1rem;
        margin-bottom: 1rem;
        border: 1px solid var(--color-secondary-light);
        transition: 0.3s;
        font-size: 0.9rem;
        padding: 0.05rem 0.8rem; }
        .section-profile__user-preferences__heading-container__edit-btn:hover {
          background-color: var(--color-white);
          cursor: pointer; }
    .section-profile__user-preferences__content {
      display: flex;
      flex-wrap: wrap; }
      .section-profile__user-preferences__content__tab-link {
        text-decoration: none; }
      .section-profile__user-preferences__content__tab {
        padding: 0.5rem 1rem;
        text-align: center;
        width: 10rem;
        background-color: var(--color-primary);
        margin: 1rem;
        color: var(--color-white);
        font-weight: bold;
        border-radius: 0.4rem;
        border: 1px solid var(--color-primary);
        transition: 0.4s; }
        .section-profile__user-preferences__content__tab:hover {
          background-color: var(--color-white);
          color: var(--color-gray);
          cursor: pointer; }

.carousel-paper {
  height: 85vh;
  margin-top: 4rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }
  .carousel-paper__text {
    color: var(--color-white);
    background-color: rgba(3, 3, 3, 0.8);
    min-height: 8.6rem;
    padding: 0.5rem 2rem;
    text-align: center; }
    .carousel-paper__text__title {
      font-size: 1.6rem;
      margin-bottom: 1rem; }
    .carousel-paper__text__link {
      text-decoration: none;
      color: var(--color-white);
      border: 1px solid var(--color-primary-light);
      padding: 0.3rem 1rem;
      border-radius: 0.2rem;
      transition: all 0.3s; }
      .carousel-paper__text__link:hover {
        color: var(--color-black);
        background-color: var(--color-offwhite); }

.dark-mode__btn {
  background-color: inherit;
  border: none; }

.custom-navbar {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: var(--navbar-bg) !important; }
  .custom-navbar__logo {
    width: 12rem;
    margin: 0 1rem; }
  .custom-navbar__dropdown__toggle {
    color: var(--text-color); }
  .custom-navbar__search-bar {
    width: 30%;
    transition: 0.2s;
    position: relative;
    left: 1rem;
    background-color: var(--search-bg); }
    .custom-navbar__search-bar::placeholder {
      color: var(--text-color); }
    .custom-navbar__search-bar:active {
      border: 2px solid var(--color-primary-light); }
  .custom-navbar__btn {
    color: var(--text-color); }
    .custom-navbar__btn:focus {
      border: none; }
    .custom-navbar__btn:hover {
      color: var(--text-color-muted); }
    .custom-navbar__btn::after {
      display: block;
      content: "";
      width: 0%;
      height: 0.1rem;
      background-image: linear-gradient(to right, var(--color-white), 25%, var(--color-primary));
      transition: 0.3s; }
    .custom-navbar__btn:hover::after {
      width: 100%; }
  .custom-navbar__search-icon {
    color: var(--color-primary-light);
    position: relative;
    top: 1rem;
    left: 1rem;
    width: auto; }
    .custom-navbar__search-icon:hover .custom-navbar__search-icon__tip {
      visibility: visible; }
    .custom-navbar__search-icon__tip {
      transition: all 0.1s;
      position: relative;
      right: 2rem;
      padding: 0.2rem 0.4rem;
      font-size: 0.85rem;
      background-color: rgba(38, 38, 38, 0.8);
      color: var(--color-white);
      border-radius: 0.3rem;
      visibility: hidden; }
  .custom-navbar__login {
    margin: 0 1rem 0 2.5rem;
    background-color: var(--color-primary);
    color: var(--color-white);
    transition: all 0.3s; }
    .custom-navbar__login:hover {
      background-color: var(--color-white);
      border: 1px solid var(--color-primary); }
  .custom-navbar__settings__logout {
    border-top: 1px solid var(--color-secondary);
    width: 80%;
    text-align: center;
    margin: auto; }
    .custom-navbar__settings__logout-btn {
      border: none;
      background-color: inherit; }

.custom-footer {
  background-color: var(--color-gray);
  width: 100%;
  margin: 2rem 0 0 0; }
  .custom-footer__link {
    color: var(--color-white); }
    .custom-footer__link:hover {
      color: var(--color-primary-light); }
  .custom-footer__paragraph {
    color: var(--color-white); }

.custom-newscard {
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 18rem;
  background-color: var(--card-bg);
  color: var(--text-color); }
  .custom-newscard__btn {
    background-color: var(--color-primary);
    color: var(--color-white);
    margin: 0 auto 1rem auto;
    width: 77%;
    transition: all 0.3s; }
    .custom-newscard__btn:hover {
      background-color: var(--color-white);
      border: 1px solid var(--color-primary); }

.sort-btn {
  background-color: var(--color-secondary);
  border: none;
  transition: 0.3s all; }
  .sort-btn:hover {
    background-color: var(--color-secondary-light);
    color: var(--color-black); }
